{% include "header.html" %}
<div class="row">
<div class="leftcolumn">

  <dd><h3 style="color: #AAB7B8">Perfumes Category</h3></dd>

  <ul>
  {% for fragrance in perfumes %}

     <a href= '{{url_for("favorite_perfumes",perfume_id=fragrance.id)}}'> {{fragrance.name}} </a><br>

  {%endfor%}
  </ul>
  </div>
  <div class="rightcolumn">
  <article>
    <h2 style="color:#2E86C1">FRAGRANCE</h2>
    <h4 style="color: #B7950B">“No elegance is possible without perfume. It is the unseen,
      unforgettable, ultimate accessory.” – Coco Chanel</h4>
      <h3 style="color:#2E86C1"> Latest best perfumes added </h3>
        <dd style="color: grey">
           {% for e in favorite %}
           <a href = "{{url_for('moreInfo',perfume_id=e.perfume_id, favorite_id=e.id)}}">-|[ . {{e.name}} . ]|- </a> {{e.category.name}}<br>
        {% endfor %}
        </dd><br>

  </article>
  </div>
  </div>
  <div class="footer">
    <a href ="https://www.linkedin.com/in/heba-sa-ada-614002173/" target="_blank"><img src="{{ url_for('static', filename='linkedin.png') }}" alt="my linkedin Link" height="24" width="30"></a> &nbsp
    <a href="https://github.com/Heba-ahmad" target="_blank"><img src="{{ url_for('static', filename='github.png') }}" alt="my GitHub Link" height="24" width="24"></a> &nbsp&nbsp
  </div>

  </body>
  </html>
